<% content_for(:title) { "Infinity mode" } %>

<section class="infinity-mode">
  <div class="container">
    <%= render partial: "interface/above_board" %>

    <div class="board-container">
      <div class="board-area">
        <%= render partial: "interface/chessboard" %>
        <%= render partial: "interface/piece_promotion_modal" %>
      </div>

      <aside class="infinity-sidebar">
        <div class="sidebar-label">Set difficulty</div>
        <div class="difficulties">
          <div class="easy selected">Easy</div>
          <div class="medium">Medium</div>
          <div class="hard">Hard</div>
          <div class="insane">Insane</div>
        </div>

        <div class="stats">
          <div class="sidebar-label">You have solved</div>
          <div class="n-puzzles"><span>1,512</span> puzzles</div>
        </div>
      </aside>
    </div>
  </div>
</section>

<script>
  blitz.loggedIn = <%= current_user ? true : false %>;
</script>
