<% path = local_assigns[:path] %>
<% title = local_assigns[:title] %>

<div class="miniboard-link">
  <a href="<%= path %>">
    <%= render partial: "static/snippets/miniboard", locals: local_assigns %>

    <div class="position-name">
      <% if title.present? %>
        <span><%= sanitize(title) %></span>
      <% end %>
    </div>
  </a>
</div>
