@import "../../../assets/stylesheets/_variables"
@import "../base"

.haste-mode
  .haste-sidebar
    margin-top: $above-board-height
    margin-left: 30px
    display: flex
    flex-direction: column
    justify-content: space-evenly

    .make-a-move
      line-height: 26px
      opacity: 0.7

    .timers
      height: 100%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-evenly

      .timer
        font-size: 40px
        transition: all 0.25s ease
        margin-bottom: 20px

        &.stopped
          opacity: 0.3

        &.rewarded
          color: #34FF00

        &.penalized
          color: red

        &.complete
          color: #ffff00

      .n-solved
        font-size: 16px
        line-height: 22px
        height: 44px
        margin-left: 1px
        opacity: 0.7

  // shows up in the sidebar after a level is complete
  .haste-complete
    display: flex
    flex-direction: column
    height: 100%
    justify-content: space-evenly

    .label
      font-size: 13px
      color: rgba(255,255,255,0.5)

    // your score and high score
    .score-container
      .score
        margin-top: 15px
        font-size: 30px

    .recent-high-scores
      // past 24 hours
      .label
        margin-bottom: 15px

      // a high score by another player
      .high-score
        display: flex
        margin: 8px 0

        .score
          font-size: 16px
          width: 30px
          margin: 0
          margin-right: 10px

        .player-name
          font-size: 16px
          color: rgba(255,255,255,0.7)

    .blue-button
      font-size: 18px
      text-align: center
