@media (max-aspect-ratio: 11/16)
  .speedrun-mode
    .container
      display block !important

    .speedrun-complete
      width 100% !important

    .speedrun-sidebar
      margin-top 0 !important
      margin-left 0 !important
      flex-direction row !important
      padding 20px

      > div
        margin 0
        margin-right 40px
