// new homepage

.homepage {
  margin-bottom: 100px;

  h2 {
    font-size: 20px;
    opacity: 0.5;
    text-align: center;
    margin: 30px 0 50px;
  }

  .game-modes {
    display: flex;
    justify-content: center;
  }

  .mode {
    text-align: center;
    padding: 0 10px;
    margin: 0 15px;

    h3 {
      font-size: 30px;
      margin-bottom: 20px;
    }

    h4 {
      opacity: 0.5;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 30px;
      width: 300px;
    }
  }

  .position-board {
    display: block;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }
  }

  .mini-chessboard {
    display: block;
    width: 260px;
    height: 260px;
    margin: 0 auto;
  }
}
