@import "bourbon";


.level-list {
  width: 560px;
  margin: 40px 0 60px;

  $level-name-width: 280px;

  h3 {
    font-size: 24px;
    margin-bottom: 48px;
  }

  li {
    font-weight: 600;
    padding: 5px 0;
    color: rgba(128,128,128,0.4);
  }

  a {
    color: rgba(255,255,255,0.9);
    // display: block;
    text-decoration: none;

    &:hover {
      color: rgba(255,255,255,1);
    }
  }

  .your-levels {

    .blue-link {
      color: #2C9BEA;
      text-decoration: underline;
      transition: opacity 0.25s ease;

      &:hover {
        color: white;
        cursor: pointer;
      }
    }

    .blue-button {
      font-size: 12px;
      padding: 2px 12px 3px;
      border: 0;
      border-radius: 3px;
      background: #2C9BEA;
      display: inline-block;
      color: white;
      text-decoration: none;
      transition: opacity 0.25s ease;

      &:hover {
        background: #51B7FF;
        cursor: pointer;
      }

      &.disabled {
        opacity: 0.15;
      }
    }
  }

  .headers {
    @include clearfix;

    margin-left: $level-name-width;
    margin-bottom: 10px;

    .header {
      font-size: 11px;
      text-transform: uppercase;
      float: left;
      width: 65px;
      color: rgba(128,128,128,0.7);
    }
  }

  .level-row {
    overflow: hidden;
  }

  .level {
    width: $level-name-width;
    float: left;
  }

  .level-name {
    font-size: 12px;
    color: rgba(255,255,255,0.8);
  }

  .round-attempt {
    color: rgba(128,128,128,0.8);
    float: left;
    font-size: 14px;
    width: 65px;
    position: relative;
    top: 3px;
  }

  .level-attempt {
    float: left;
    font-size: 12px;
    position: relative;
    top: 4px;
  }
}

.description {
  color: rgba(255,255,255,0.8);
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 24px;

  .current-user {
    .username {
      font-weight: bold;
    }
  }
}


@media screen and (max-width: 500px) {

  .level-list {
    padding: 0 20px;
    width: 500px;

    .level {
      width: 150px;
    }

    .headers {
      margin-left: 150px;
    }

    .level-name {
      display: none;
    }
  }
}
