.puzzle-set-form-page
  padding-top: 30px

  h2
    margin-bottom: 30px

  .blue-button
    font-size: 15px
    margin-top: 20px

  input[type="text"], textarea
    display: block
    margin-bottom: 20px
    width: 300px
    padding: 5px 10px

  .ps-input-puzzle-ids
    height: 100px

  form
    display: flex

  .right
    margin-left: 30px
    padding-top: 110px
    line-height: 1.5em
    font-size: 14px
    opacity: 0.5
