@import "_variables"

.user-profile 
  margin 50px 0 80px

  h2.username
    text-align center
    font-size 36px
    font-family $main-font
    margin-bottom 60px

  .highest-level 
    text-align center
    color rgba(255,255,255,0.7)

  .max-level 
    color #ffe800

  .stats
    display flex
    justify-content space-between
    margin 0 auto
    width 540px

    .game-mode-name
      font-size 30px
      text-align center

  .stats-row
    display flex
    padding 5px 0

    &.total
      margin 30px 0

    .label
      opacity 0.6
      width 160px

    .count
      width 70px
      text-align right

  .repetition-stats
    margin-left 105px
