@import "_variables"

.user-profile 
  margin 50px 0 80px

  h2.username
    text-align center
    font-size 36px
    font-family $main-font
    margin-bottom 25px

  input[type="text"]
    font-family $main-font
    font-size 16px
    border 0
    width 380px
    padding 8px 16px
    margin 0 auto
    display block

  .stats
    display flex
    justify-content space-between
    margin 60px auto
    width 540px

    .game-mode-name
      font-size 30px
      text-align center

  .stats-row
    display flex
    padding 5px 0

    &.total
      margin 30px 0

    .label
      opacity 0.6
      width 160px

    .count
      width 70px
      text-align right
