@import "_variables"

.user-profile 
  margin 50px 0 80px

  header.player-info
    padding-bottom 30px
    border-bottom 1px solid rgba(255,255,255,0.2)

    .username
      text-align center
      font-size 36px
      font-family $main-font
      margin-bottom 25px

    .tagline
      text-align center
      font-size 18px
      font-family $main-font
      opacity 0.6

  form
    display flex
    justify-content center

    input[type="text"]
      font-family $main-font
      font-size 16px
      border 0
      width 380px
      padding 8px 16px
      display block

    .blue-button
      font-size 16px

  .stats
    display flex
    justify-content space-between
    margin 60px auto
    width 540px

    .game-mode-name
      font-size 30px
      text-align center

      a
        color inherit
        text-decoration none

        &:hover
          color #ffe800

  .stats-row
    display flex
    padding 5px 0

    &.total
      margin 30px 0

    .label
      opacity 0.4
      width 170px

    .count
      width 70px
      text-align right

  .repetition-stats
    margin 0 auto
