<% content_for(:title) { "Scoreboard" } %>

<div class="container">

  <div class="scoreboard">

    <h2>Scoreboard</h2>

    <div class="scores">
      <% @ranked_users.each do |user| %>
        <div class="user">
          <div class="username"><%= user.username %></div>
          <div class="max-level"><%= user.highest_level_unlocked %></div>
        </div>
      <% end %>
    </div>

  </div>

</div>
