.game-mode
  $board-size: 496px

  .container
    display: flex
    flex-direction: column
    align-items: center
    min-height: 100vh
    padding: 20px 0

  .vue-app-mount
    display: flex
    width: 100%
    justify-content: center
    margin-top: 20px

  .board-area-container
    display: flex
    flex-direction: column
    align-items: center

  .above-board
    width: $board-size
    margin: 0 auto

  .board-area
    width: $board-size
    height: $board-size
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: center

  .chessground-board
    width: $board-size
    height: $board-size
    flex-shrink: 0

  // the overlay over the chessboard that shows up at the end of the game
  .board-modal-container
    width: 100%
    height: 100%
    background: rgba(0,0,0,0.6)
    position: absolute
    left: 0
    top: 0
    z-index: 2
