@media (max-aspect-ratio: 11/16)
  .three-mode
    .three-complete
      width: 100% !important

    .three-sidebar
      padding: 20px
      min-width: auto !important
      width: 100%
      max-width: 496px

      .recent-high-scores
        display: none !important

      .timers, .three-complete
        flex-direction: row !important
        justify-content: space-around !important

      .make-a-move
        width: 100% !important
        text-align: center
