@forward "../base"
@import "../../../assets/stylesheets/_colors"
@import "../../../assets/stylesheets/_variables"

.three-mode
  // Above board move status and combo styles
  .above-board
    .move-status
      opacity: 1
      font-family: $combo-indicator-font
      font-size: 32px
      width: 100%
      position: absolute
      top: 10px
      text-align: center
      text-transform: uppercase
      transform: scale3d(1,1,1)
      transition: opacity 0.02s ease

      &.fade-out
        opacity: 0
        transform: scale3d(0.92,0.92,1)
        transition: opacity 0.9s ease-out 0.2s, transform 0.05s ease-in-out

      .perfect
        color: $move-perfect
        font-weight: 600
        letter-spacing: 3px
        font-size: 40px

      .great
        color: $move-great
        font-weight: 600
        letter-spacing: 3px
        font-size: 38px

      .good
        color: $move-good
        font-weight: 600
        letter-spacing: 3px
        font-size: 38px

      .almost
        color: $move-almost
        position: relative
        top: 12px

      .fail
        color: $move-fail
        position: relative
        top: 12px

    .combo-counter
      text-align: center
      font-family: $combo-indicator-font
      position: absolute
      top: 30px
      width: 100%
      transition: opacity 0.25s ease

      .counter
        display: inline-block
        font-size: 24px
        margin-right: 5px

        &.large
          font-size: 52px

        &.on-fire
          font-size: 70px

        &.emphasis
          transform: scale3d(1.25, 1.25, 1)

      .combo-text
        position: relative
        text-transform: uppercase
        font-size: 14px
        top: -2px

  .three-under-board
    @extend .game-under-board

    .n-remaining
      transition: color 0.25s ease
      padding: 8px 0

    .timers
      display: flex
      flex-direction: column
      gap: 15px

    .hints
      height: 24px

    .current-score
      .label
        font-size: 16px
        opacity: 0.3

      .score
        font-size: 32px
        margin-top: 15px

    // shows up in the sidebar after a level is complete
    .three-complete
      @extend .game-complete

      .puzzles-failed
        a
          align-items: center
          color: #F954AE
          display: flex
          padding: 5px 0

        svg
          width: 18px
          height: 18px
          margin-right: 5px
