<div class="main">
  <div class="board-area">
    <%= render :partial => "tactics/chessboard" %>

    <div class="piece-promotion-modal" style="display: none;">
      <div class="pieces">
        <a class="piece" href="javascript:" data-piece="q"><img src="/assets/pieces/wq.png"></a>
        <a class="piece" href="javascript:" data-piece="r"><img src="/assets/pieces/wr.png"></a>
        <a class="piece" href="javascript:" data-piece="n"><img src="/assets/pieces/wn.png"></a>
        <a class="piece" href="javascript:" data-piece="b"><img src="/assets/pieces/wb.png"></a>
      </div>

      <div class="background"></div>
    </div>

  </div>

  <div class="overlay">

    <div class="intro">

      <h3 class="title">Blitz Tactics</h3>

      <div class="explanation">
        Solve as many puzzles as you can in 60 seconds!
        <br>
        White to move
      </div>

      <button class="start disabled">Start</button>

    </div>

  </div>

  <div class="status">
    <div class="puzzle-counter"></div>

    <div class="move-status"></div>

    <div class="combo-meter">
      <span class="counter"></span>
      <span class="combo-text">combo</span>
    </div>

    <div class="times">
      <div class="timer"></div>
      <div class="laps"></div>
    </div>

    <div class="solution"></div>
  </div>

</div>
