<div class="main">
  <%= render :partial => "tactics/chessboard" %>

  <div class="overlay">

    <div class="intro">

      <h3 class="title">Blitz Tactics</h3>

      <div class="explanation">
        Solve as many puzzles as you can in 60 seconds!
        <br>
        White to move
      </div>

      <button class="start">Start</button>

    </div>

  </div>

  <div class="status">
    <div class="puzzle-counter"></div>
    <div class="timer"></div>
  </div>

</div>
