<h2>Philidor position</h2>

<div class="description">
  Defend the Philidor position and play for a draw. Place the
  rook on the third rank to cut off the opposing king and prevent
  it from invading and threatening checkmate.
  <br><br>
  Keep your rook on the third rank until Black advances the pawn.
  Then keep checking the Black kind from behind.

  <div class="source">
    resources:
    <a href="https://en.wikipedia.org/wiki/Philidor_position" target="_blank">
      wikipedia
    </a>
  </div>
</div>
