<h2>Saavedra position</h2>

<div class="description">
  White to play wins with an underpromotion to a rook, avoiding stalemate traps.
  <br><br>
  Try to escort the pawn to promotion while avoiding perpetual checks and stalemate ideas.

  <div class="source">
    resources:
    <a href="https://en.wikipedia.org/wiki/Saavedra_position" target="_blank">
      wikipedia
    </a>
  </div>
</div>
