<h2>Vancura position</h2>

<div class="description">
  Keep attacking white's pawn from the side,
  while preventing the king from hiding from checks.
  <br><br>
  Your king be behind your rook to not block attacks against white's pawn. If white's pawn moves to the 7th rank, move the rook behind it.

  <div class="source">
    resources:
    <a href="https://en.wikipedia.org/wiki/Rook_and_pawn_versus_rook_endgame#Van%C4%8Dura_position" target="_blank">
      wikipedia
    </a>
  </div>
</div>
