<% content_for(:title) { @user.username } %>

<div class="user-profile me">
  <div class="container">
    <h2 class="username"><%= @user.username %></h2>
    <input type="text" value="<%= @user.tagline %>"
           placeholder="Write something about yourself"/>

    <%= render partial: "users/puzzle_stats" %>
  </div>
</div>
