<% content_for(:title) { @user.username } %>

<div class="user-profile">
  <div class="container">
    <header class="player-info">
      <h2 class="username"><%= @user.username %></h2>
      <h3 class="tagline"><%= @user.tagline %></h3>
    </header>

    <%= render partial: "users/puzzle_stats" %>
  </div>
</div>
