<% content_for(:title) { @user.username } %>

<div class="user-profile">
  <div class="container">
    <h1 class="username <% if @user.unlocked_all_levels? %>max-level<% end %>">
      <%= @user.username %>
    </h1>

    <div class="highest-level">
      <%= @user.num_repetition_levels_unlocked %> repetition levels completed
    </div>

    <div>
      <%= @user.num_infinity_puzzles_solved %> Infinity puzzles solved
    </div>
  </div>
</div>
