<% content_for(:title) { @user.username } %>

<div class="user-profile">
  <div class="container">
    <h2 class="username"><%= @user.username %></h2>

    <%= render partial: "users/puzzle_stats" %>
  </div>
</div>
