@media (max-aspect-ratio: 11/16)
  .infinity-mode
    .infinity-sidebar
      width 100vw
      margin 0 !important
      padding 20px

      .sidebar-label
        margin-right 10px
        margin-bottom 0
        width 180px

      .difficulties
        display flex
        align-items center

        [data-difficulty]
          padding 5px 20px 5px 0

          &:last-child
            padding-right 0

      .stats
        display flex
        align-items center
        margin-top 0
        margin-left auto

      .no-more-left
        position absolute
