@forward "../base"
@use "../../../assets/stylesheets/_colors" as *
@use "../../../assets/stylesheets/_variables" as *

.infinity-mode
  .infinity-under-board
    @extend .game-under-board

    .sidebar-label
      font-size: 13px
      color: rgba(255,255,255,0.5)
      margin-bottom: 15px

    .difficulties
      margin-bottom: 30px

      .difficulty
        color: rgba(255,255,255,0.5)
        padding: 8px 0
        cursor: pointer
        text-transform: capitalize
        font-size: 18px
        user-select: none
        transition: all 0.2s ease

        &:hover
          color: rgba(255,255,255,0.7)

        &.selected
          color: white

        &.easy.selected
          color: #0cf // cyan

        &.medium.selected
          color: #dfff00 // bright yellow-green

        &.hard.selected
          color: #fc0 // orange/yellow

        &.insane.selected
          color: #ff3f00 // red-orange

    .stats
      margin-bottom: 30px
      transition: opacity 0.5s ease

      .n-puzzles
        font-size: 30px
        margin-top: 15px

    .no-more-left
      line-height: 26px
      opacity: 0.7 