@forward "../base"
@use "../../../assets/stylesheets/_colors" as *
@use "../../../assets/stylesheets/_variables" as *

.infinity-mode
  .infinity-under-board
    @extend .game-under-board

    .difficulty-section
      display: flex
      align-items: center
      gap: 20px
      margin-bottom: 20px

      .sidebar-label
        font-size: 18px
        color: rgba(255,255,255,0.5)

      .difficulties
        display: flex
        gap: 20px

        .difficulty
          color: rgba(255,255,255,0.5)
          cursor: pointer
          text-transform: capitalize
          font-size: 18px
          user-select: none
          transition: color 0.2s ease

          &:hover
            color: rgba(255,255,255,0.7)

          &.selected
            color: white

          &.easy.selected
            color: #0cf

          &.medium.selected
            color: #dfff00

          &.hard.selected
            color: #fc0

          &.insane.selected
            color: #ff3f00

    .stats
      margin-bottom: 30px
      transition: opacity 0.5s ease

      .n-puzzles
        font-size: 30px
        margin-top: 15px

    .recent-puzzles
      text-align: center
      margin-bottom: 20px

    .no-more-left
      line-height: 26px
      opacity: 0.7 