@use "../../../assets/stylesheets/_colors" as *
@use "../../../assets/stylesheets/_variables" as *

.countdown-mode
  .countdown-under-board

    .timers
      height: 100%
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-evenly

      .description
        font-size: 16px
        line-height: 22px
        height: 44px
        margin-left: 1px
        opacity: 0.7

    // shows up under the board after a level is complete
    .countdown-complete
      display: flex
      gap: 32px

      .score-section
        flex-direction: row
        gap: 40px

      .score-container
        margin-bottom: 16px
        align-items: center

        .score
          font-size: 28px
          margin-top: 8px
