<% content_for(:title) { "Countdown mode" } %>

<section class="countdown-mode">
  <div class="container">
    <div class="board-area-container">
      <%= render partial: "puzzle_player/above_board" %>
      <%= render partial: "puzzle_player/board_area" %>
    </div>

    <aside class="countdown-sidebar">
      <div class="timers" style="display: none">
        <div class="current-countdown">
          <div class="timer stopped">7:00</div>
          <div class="description">0 solved</div>
        </div>

        <div class="personal-best invisible" style="display: none">
          <div class="timer"></div>
          <div class="description">Personal best</div>
        </div>
      </div>

      <div class="make-a-move">
        Make a move to start the timer
      </div>
    </aside>
  </div>
</section>
