<% content_for(:title) { "Countdown mode" } %>

<section class="countdown-mode">
  <div class="container">
    <div class="board-area-container">
      <%= render partial: "puzzle_player/above_board" %>
      <%= render partial: "puzzle_player/board_area" %>
    </div>
  </div>
</section>
