<% content_for(:title) { "Haste mode" } %>

<section class="haste-mode">
  <div class="container">
    <div class="board-area-container">
      <%= render partial: "puzzle_player/above_board" %>
      <%= render partial: "puzzle_player/board_area" %>
    </div>

    <aside class="haste-sidebar">
      <div class="timers" style="display: none">
        <div class="current-progress">
          <div class="timer stopped">3:00</div>
          <div class="n-solved">0 puzzles solved</div>
        </div>
      </div>

      <div class="haste-complete invisible" style="display: none">
        <div class="score-container your-score">
          <div class="label">Your score</div>
          <div class="score"></div>
        </div>

        <div class="score-container high-score">
          <div class="label">Your high score today</div>
          <div class="score"></div>
        </div>

        <div class="score-container recent-high-scores" style="display: none">
          <div class="label">Past 24 hours</div>
          <div class="list"></div>
        </div>

        <a href="javascript:" class="view-puzzles dark-button">View puzzles</a>
        <a href="/haste" class="blue-button">Play again</a>
      </div>

      <div class="make-a-move">
        Make a move to start the timer
      </div>
    </aside>
  </div>
</section>
