<% content_for(:title) { "Infinity mode" } %>

<section class="infinity-mode">
  <div class="container">
    <%= render partial: "puzzle_player/above_board" %>

    <div class="board-container">
      <%= render partial: "puzzle_player/board_area" %>

      <aside class="infinity-sidebar">
        <div class="difficulties">
          <div class="sidebar-label">Difficulty</div>
          <div class="easy" data-difficulty="easy">Easy</div>
          <div class="medium" data-difficulty="medium">Medium</div>
          <div class="hard" data-difficulty="hard">Hard</div>
          <div class="insane" data-difficulty="insane">Insane</div>
        </div>

        <div class="stats invisible">
          <div class="sidebar-label">You have solved</div>
          <div class="n-puzzles"><span></span> puzzles</div>
        </div>

        <div class="no-more-left invisible">
          You did it! You solved all the puzzles in this level.
          Chooose another difficulty to continue.
        </div>
      </aside>
    </div>
  </div>
</section>
