<% content_for(:title) { "#{@level.display_name} | Repetition mode" } %>

<section class="repetition-mode">
  <%= render partial: "interface/main",
             locals: { round_times: @round_times } %>
</section>
