<% content_for(:title) { "About" } %>

<div class="about container">
  <h3 class="question">What is Blitz Tactics?</h3>
  <p class="answer">
    A fast-paced chess tactics trainer. It's open source:<br><br>
    <a href="https://github.com/linrock/blitz-tactics" target="_blank">
      https://github.com/linrock/blitz-tactics</a>
    <br><br>
    Send me an email at
    <a href="mailto:admin@blitztactics.com">admin@blitztactics.com</a>
    <br>
    Or open
    <a href="https://github.com/linrock/blitz-tactics/issues" target="_blank">
      an issue on Github</a>
    <br><br>
    I welcome all feedback and suggestions!
  </p>

  <h3 class="question">How do I get started?</h3>
  <p class="answer">
    Sign up if you want to save your progress:
    <a href="/users/sign_up">Sign up</a>
    <br><br>
    Or choose a game mode to get right into it:
    <br><br>
    <a href="/infinity">Infinity</a> - endless chess puzzles
    <br>
    <a href="/speedrun">Speedrun</a> - solve all the puzzles as fast as you can
    <br>
    <a href="/repetition">Repetition</a> - solve puzzles quickly and without mistakes to unlock the next level
  </p>
</div>
