<% content_for(:title) { "About" } %>

<div class="about container">
  <h3 class="question">About Blitz Tactics</h3>
  <p class="answer">
    An open-source chess tactics server where you can
    play chess puzzles at the speed of blitz chess. The
    puzzles on the site are from the
    <a href="https://lichess.org/training" target="_blank">Lichess tactics</a> trainer.
    <br><br>
    Source code:
    <a href="https://github.com/linrock/blitz-tactics" target="_blank">
      https://github.com/linrock/blitz-tactics</a>
    <br><br>
    Send me an email at
    <a href="mailto:admin@blitztactics.com">admin@blitztactics.com</a>
    <br>
    Or open
    <a href="https://github.com/linrock/blitz-tactics/issues" target="_blank">
      an issue on Github</a>
    <br><br>
    I welcome all feedback and suggestions!
  </p>

  <h3 class="question">How do I get started?</h3>
  <p class="answer">
    <a href="/users/sign_up">Sign up</a> if you want to save your progress.
    <br><br>
    Or choose a game mode to get right into it:
    <br><br>
    <a href="/infinity">Infinity</a> - endless chess puzzles
    <br>
    <a href="/speedrun">Speedrun</a> - solve all the puzzles as fast as you can
    <br>
    <a href="/repetition">Repetition</a> - make no mistakes to unlock the next level
    <br>
    <a href="/countdown">Countdown</a> - solve puzzles within a time limit
    <br>
    <a href="/haste">Haste</a> - mistakes cost time, combos gain time
  </p>
</div>
