<% content_for(:title) { @route[:title].html_safe } %>
<% content_for(:meta_description) { @route[:description].html_safe } %>

<% has_description = %w(
     /lucena-position
     /philidor-position
     /vancura-position
   ).include?(@route[:path]) %>

<% content_for(:position_trainer) do %>
  <div class="vue-app-mount"></div>
<% end %>

<% if has_description %>
  <div class="position-trainer small left-aligned container">
    <div class="left">
      <%= yield(:position_trainer) %>
    </div>

    <div class="right">
      <%= render partial: "static/descriptions#{@route[:path].gsub(/-/, '_')}" %>
    </div>
  </div>
<% else %>
  <div class="position-trainer small container">
    <%= yield(:position_trainer) %>
  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    blitz.position = <%= @route[:options].to_json.html_safe %>;
  })
</script>
