<% content_for(:title) { @route[:title].html_safe } %>
<% content_for(:meta_description) { @route[:description].html_safe } %>

<% has_description = %w(
     /lucena-position
     /philidor-position
     /vancura-position
     /saavedra-position
   ).include?(@route[:path]) %>



<div class="position-trainer small container">
  <div class="vue-app-mount"></div>
</div>

<% if has_description %>
  <div class="description-section">
    <div class="container">
      <%= render partial: "static/descriptions#{@route[:path].gsub(/-/, '_')}" %>
    </div>
  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const options = <%= @route[:options].to_json.html_safe %>;
    blitz.position = {
      fen: options.fen,
      goal: options.goal || 'win'
    };
  })
</script>
