<% content_for(:title) { "Position trainer" } %>

<div class="position-trainer container">
  <div class="vue-app-mount"></div>
</div>

<script>
  document.addEventListener(`DOMContentLoaded`, () => {
    blitz.position = {
      fen: "<%= @position.fen %>",
      goal: "<%= @position.goal %>"
    }
  })
</script>
