.above-board
  .instructions.invisible White to move
  .puzzle-hint.invisible
    .move
    .hint-trigger Show hint
  .move-status &nbsp;
  .combo-counter.invisible
    span.counter &nbsp;
    span.combo-text combo
