<div class="above-board">
  <div class="instructions">White to move</div>

  <div class="puzzle-hint invisible">
    <div class="move"></div>
    <div class="hint-trigger">Show hint</div>
  </div>

  <div class="move-status">&nbsp;</div>

  <div class="combo-counter invisible">
    <span class="counter">&nbsp;</span>
    <span class="combo-text">combo</span>
  </div>
</div>
