<div class="board-area">
  <%= render partial: "puzzle_player/board_area/chessboard" %>
  <div class="piece-promotion-modal-container" style="display: none"></div>
  <div class="board-modal-container invisible" style="display: none"></div>
</div>
