<% content_for(:title) { "About" } %>

<div class="about container">
  <div class="thinner">
    <h3 class="question">What is Blitz Tactics?</h3>
    <p class="answer">
      A chess tactics trainer that emphasizes learning tactical patterns,
      rather than just testing your ability to solve puzzles. Hopefully
      in a way that's fun for you.
      <br><br>
      It's also open source:<br>
      <a href="https://github.com/linrock/blitz-tactics" target="_blank">
        https://github.com/linrock/blitz-tactics
      </a>
    </p>

    <h3 class="question">How does it work?</h3>
    <p class="answer">
      Each level is a set of 15-20 puzzles. You unlock the next level when
      you can solve each puzzle quickly and without making any mistakes. The puzzles
      in each level cycle indefinitely, so take as long as you need to learn them.
    </p>

    <h3 class="question">How will this make me better at chess?</h3>
    <p class="answer">
      Improvement at chess involves (1) learning to recognize what to do in
      specific positions and (2) having FUN while learning. Through repetition,
      you learn patterns. Pattern recognition makes a master. Fun keeps you motivated.
    </p>

    <h3 class="question">I've got feedback or suggestions. How do I contact you?</h3>
    <p class="answer">
      Awesome! Send me an email at
      <a href="mailto:admin@blitztactics.com">admin@blitztactics.com</a>
      <br><br>
      You can also file
      <a href="https://github.com/linrock/blitz-tactics/issues" target="_blank">
        an issue on Github
      </a>
    </p>

    <% if !current_user %>
      <div class="cta">
        Anyways, enough questions! Go get started &mdash; <a href="/">Level 1</a>
      </div>
    <% end %>
  </div>
</div>
