<h3>What is Blitz Tactics?</h3>

<p>A tactics trainer that helps you drill tactics into your mind</p>


<h3>Another tactics trainer?</h3>

<p>Meant to be a learning tool that helps you learn with minimal effort</p>
