<div class="about container">

  <h1><a href="/">Blitz tactics</a></h1>

  <h3 class="question">What is this?</h3>

  <p class="answer">
    A chess tactics trainer that helps you develop speed and accuracy in your game
    by drilling tactical patterns into your brain. Hopefully while you're having fun.
  </p>


  <h3 class="question">Another tactics trainer?</h3>

  <p class="answer">
    Yep, one that emphasizes actually learning the solutions to puzzles, rather than
    just testing your ability to solve puzzles. Pattern recognition makes a master.
  </p>


  <h3 class="question">How does it work?</h3>

  <p class="answer">
    Each level is a set of 15-20 puzzles.

    Spend as long as you want on each level, but you must be able to quickly solve
    every puzzle without mistakes to unlock the next level.
  </p>


  <h3 class="question">Will this make me better at chess?</h3>

  <p class="answer">
    Yes. Unless you're already a master, in which case... maybe.
  </p>

  <div class="cta">
    Anyways, enough questions! Go get started &mdash; <a href="/">Level 1</a>
  </div>

</div>
