<div class="about container">

  <h3 class="question">What is Blitz Tactics?</h3>

  <p class="answer">
    A chess tactics trainer that helps you develop speed and accuracy in your game
  </p>


  <h3 class="question">How does it work?</h3>

  <p class="answer">
    By repeatedly solving puzzles until correct solutions become second nature,
    you'll improve your chess pattern recognition and become tactically stronger in
    actual games.
  </p>


  <h3 class="question">Another tactics trainer?</h3>

  <p class="answer">Meant to be a learning tool that helps you learn with minimal effort. Focuses on accuracy and speed.</p>


  <div class="cta">
    Enough questions. Go get started!
  </div>

</div>
