<% content_for(:title) { @route[:title].html_safe } %>
<% content_for(:meta_description) { @route[:description].html_safe } %>

<div class="position-trainer">
  <div class="instructions invisible"></div>

  <div class="board-area">
    <%= render :partial => "interface/chessboard" %>
    <%= render :partial => "interface/piece_promotion_modal" %>
  </div>

  <div class="actions">
    <button class="button restart">Reset position</button>
  </div>
</div>

<script>
  blitz.position = <%= @route[:options].to_json.html_safe %>;
  blitz.route = "positions#show";
</script>
