<% content_for(:title) { "Vancura position" } %>

<% content_for(:meta_description) {
  "Practice defending the vancura position. Black to play draws. Move the rook behind the pawn if it advances, and keep white's king in check."
} %>

<div class="position-trainer">

  <div class="instructions invisible"></div>

  <div class="board-area">
    <%= render :partial => "interface/chessboard" %>
    <%= render :partial => "interface/piece_promotion_modal" %>
  </div>

  <div class="actions">
    <button class="button restart">Reset position</button>
  </div>

</div>

<script>
  blitz.position = {
    fen: "R7/6k1/P4r2/1K6/8/8/8/8 b - -",
    goal: "draw",
    depth: 11
  };
  blitz.route = "positions#show";
</script>
