<div class="level-editor container">

  <div class="level-name">
    <%= @level.name %>
  </div>

  <div class="boards">
    <%= render :partial    => "puzzles/mini_view",
               :collection => @level.puzzles,
               :as         => :puzzle %>
  </div>

</div>
