<div class="level-editor container" data-slug="<%= @level.slug %>">

  <div class="level-name">
    <a href="/<%= @level.slug %>" target="_blank"><%= @level.name %></a>
  </div>

  <form class="add-level" data-remote="true">
    <input type="text" placeholder="Add level #" class="add-level-id">
  </form>

  <div class="boards">
    <%= render :partial    => "puzzles/mini_view",
               :collection => @level.puzzles,
               :as         => :puzzle %>
  </div>

</div>
