<div class="level-list">

  <h3>Blitz Tactics</h3>

  <ul>

    <% @levels.each do |level| %>
      <% if @unlocked.nil? || @unlocked.include?(level.id) %>
        <li>
          <a href="/<%= level.slug %>"><%= level.name %></a>
        </li>
      <% else %>
        <li><%= level.name %></li>
      <% end %>
    <% end %>

  </ul>

</div>
