<div class="puzzle-sets">

  <h3>Blitz Tactics</h3>

  <ul>

    <% @levels.each do |level| %>
      <li>
        <a href="/<%= level.slug %>"><%= level.name %></a>
      </li>
    <% end %>

  </ul>

</div>
