<div class="level-list">

  <h3>Blitz Tactics</h3>

  <ul>

    <% @levels.each do |level| %>
      <li class="level-row">
        <% if @unlocked.nil? || @unlocked.include?(level.id) %>
          <a href="/<%= level.slug %>" class="level-name"><%= level.name %></a>
          <span class="level-attempt">
            <% date = @attempts[level.id]&.first&.last_attempt_at %>
            <%= time_ago_in_words(date) if date.present? %>
          </span>
        <% else %>
          <span class="level-name"><%= level.name %></span>
        <% end %>
      </li>
    <% end %>

  </ul>

</div>
