<header class="main-header" data-state="intro">

  <div class="sub-header intro">
    <div class="container">

      <div class="left">
        <h1 class="title">Blitz tactics</h1>
        <h2 class="explanation">Solve puzzles quickly and accurately to unlock new levels</h2>
      </div>

      <div class="right">
        <div class="instructions">White to move</div>
      </div>

    </div>
  </div>

  <div class="sub-header progress-bar">
    <div class="progress"></div>
  </div>

  <div class="sub-header next-stage">
    <div class="container">
      <div class="left">You've unlocked the next level!</div>
      <div class="right">
        <a class="blue-button" href="javascript:">Next &raquo;</a>
      </div>
    </div>
  </div>

</header>

<div class="move-indicator">
  <div class="move-status">&nbsp;</div>
</div>

<div class="main">

  <a href="/levels" class="level-selector">&lt;</a>

  <label class="level"><%= @level.name %></label>

  <div class="board-area">
    <%= render :partial => "tactics/chessboard" %>

    <div class="piece-promotion-modal" style="display: none;">
      <div class="pieces">
        <a class="piece" href="javascript:" data-piece="q">
          <img src="/assets/pieces/wq.png">
        </a>
        <a class="piece" href="javascript:" data-piece="r">
          <img src="/assets/pieces/wr.png">
        </a>
        <a class="piece" href="javascript:" data-piece="n">
          <img src="/assets/pieces/wn.png">
        </a>
        <a class="piece" href="javascript:" data-piece="b">
          <img src="/assets/pieces/wb.png">
        </a>
      </div>

      <div class="background"></div>
    </div>

  </div>

  <aside class="sidebar">

    <div class="times">
      <div class="timer"></div>
      <div class="laps">
        <% @round_times.take(10).each do |time_elapsed| %>
          <div><%= time_elapsed %></div>
        <% end %>
      </div>
    </div>

  </aside>

</div>

<div class="under-board">

  <div class="solution"></div>

  <div class="combo-counter invisible">
    <span class="counter"></span>
    <span class="combo-text">combo</span>
  </div>

</div>

<script>
  $(function() {
    blitz.levelId = <%= @level.id %>;
  });
</script>
