<div class="piece-promotion-modal" style="display: none;">

  <div class="pieces">
    <div class="prompt">
      Choose your destiny
    </div>

    <a class="piece" href="javascript:" data-piece="q">
      <img src="/assets/pieces/wq.png">
    </a>
    <a class="piece" href="javascript:" data-piece="r">
      <img src="/assets/pieces/wr.png">
    </a>
    <a class="piece" href="javascript:" data-piece="n">
      <img src="/assets/pieces/wn.png">
    </a>
    <a class="piece" href="javascript:" data-piece="b">
      <img src="/assets/pieces/wb.png">
    </a>
  </div>

  <div class="background"></div>

</div>
