<div class="next-stage invisible">
  <div class="container">
    <div class="left">You've unlocked the next level!</div>
    <div class="right">
      <a class="blue-button" href="javascript:">Next &raquo;</a>
    </div>
  </div>
</div>
