[Unit]
Description=Blitz Tactics Puma
After=network.target postgresql.service
Requires=postgresql.service

[Service]
Type=simple
User={{ app_user }}
WorkingDirectory={{ app_dir }}
Environment=RAILS_ENV=production
ExecStart=/bin/bash -lc "source /usr/local/share/chruby/chruby.sh && chruby ruby-{{ ruby_ver }} && bundle exec puma -C config/puma.rb"
ExecReload=/bin/bash -lc "source /usr/local/share/chruby/chruby.sh && chruby ruby-{{ ruby_ver }} && bundle exec pumactl -P tmp/pids/puma.pid phased-restart"
Restart=always
RestartSec=5
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target
