@import "_variables";


.position-trainer {
  margin: 0 auto 50px;
  width: $board-size;
  overflow: hidden;

  .instructions {
    font-weight: bold;
    text-shadow: 0 0 8px rgba(0,0,0,0.9);
    text-align: center;
    margin: 40px auto;
    font-size: 25px;
    transition: all 0.35s ease-out;
  }

  .board-area {
    float: none;
  }

  .chessboard {
    margin: 0 auto;
  }

  // TODO
  //
  $square-size-sm: 65px;
  $board-size-sm: 8 * $square-size-sm + 2 * $border-width;
  $main-width-sm: $board-size-sm + $sidebar-size + $sidebar-margin;

  .chessboard {
    width: $board-size-sm;
    height: $board-size-sm;

    .square {
      width: $square-size-sm;
      height: $square-size-sm;
    }
  }

  .actions {
    margin-top: 30px;
    text-align: center;

    .button {
      font-size: 16px;
      padding: 8px 20px;
      border: 0;
      border-radius: 3px;
      background: black;
      color: white;
      display: inline-block;
      font-family: $main-font;
      line-height: 22px;
      text-decoration: none;
      transition: opacity 0.25s ease;

      &:hover {
        background: #51B7FF;
        cursor: pointer;
      }
    }

    .credits {
      font-size: 14px;
      margin-left: 20px;
      color: #777;

      a {
        color: inherit;

        &:hover {
          color: white;
        }
      }
    }
  }
}
