@forward "../base"
@use "../../../assets/stylesheets/_variables" as vars

.repetition-mode 



  .repetition-under-board
    @extend .game-under-board

    .level-info
      text-align: center
      margin-bottom: 30px

      .level-name
        font-size: 20px
        font-weight: 600
        margin-bottom: 10px

      .onboarding
        font-size: 16px
        opacity: 0.7
        line-height: 1.4

    .times
      text-align: center
      margin-bottom: 30px

      .timer
        font-size: 40px
        margin-bottom: 15px
        opacity: 0.9

      .laps
        opacity: 0.3
        font-size: 14px
        line-height: 1.3

        div
          margin-bottom: 5px

    .high-scores
      text-align: center

      h2
        font-size: 16px
        opacity: 0.5
        margin-bottom: 15px

      .high-score
        display: flex
        justify-content: center
        align-items: center
        margin: 8px 0
        gap: 15px

        .time
          font-size: 16px
          min-width: 50px

        .player
          opacity: 0.7

          a
            color: rgba(250, 250, 250, 0.8)
            text-decoration: none

            &:hover
              color: rgba(250, 250, 250, 1)

    .next-stage
      margin-top: 30px

  // progress indicator under the main header for the current level
  .progress-bar 
    background: black
    width: 100%
    height: 3px

    .progress 
      background: yellow
      width: 0
      height: 100%
      transition: width 0.5s ease-in-out, background 0.3s ease-in-out

      &.complete 
        width: 100%
        background: #63F706

  .next-stage
    svg
      margin-left: 5px
      width: 10px
