$main-width: 700px

// all fonts
$main-font: "Open Sans", Helvetica, Arial, sans-serif
$combo-indicator-font: "Orbitron", Arial, sans-serif

// main chessboard variables
$square-size: 60px
$board-size: 496px

$below-board-height: 100px

// Puzzle player
$left-sidebar-width: 300px
$user-preferences-panel-width: 380px

// Round button with svg icon
$round-button-size: 36px
