$border-width: 2px;
$square-size: 75px;
$board-size: 8 * $square-size + 2 * $border-width;

$sidebar-size: 75px;
$sidebar-margin: 40px;

$main-width: $board-size + $sidebar-size + $sidebar-margin;

$main-font: "Open Sans", Helvetica, sans-serif;
