.about.container {

  width: 400px;
  margin: 60px auto;

  a {
    color: inherit;
  }

  h1 {
    color: rgba(255,255,255,1);
    font-size: 24px;
    margin-bottom: 50px;

    a {
      text-decoration: none;
    }
  }

  .question {
    font-weight: 600;
  }

  .answer {
    color: rgba(255,255,255,0.6);
    margin: 10px 0 35px;
    font-size: 14px;
    line-height: 22px;
  }

  .cta {
    margin-top: 55px;
    color: rgba(255,255,255,0.8);
    font-size: 14px;

    a:hover {
      color: rgba(255,255,255,0.9);
    }
  }

}
