@import "bourbon";


.about.container {
  margin: 45px auto 60px;

  a {
    color: inherit;
  }

  h1 {
    color: rgba(255,255,255,1);
    font-size: 24px;
    margin-bottom: 50px;

    a {
      text-decoration: none;
    }
  }

  .thinner {
    width: 420px;
  }

  .question {
    font-weight: 600;
  }

  .answer {
    color: #878787;
    margin: 10px 0 35px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;

    a {
      @include transition(color 0.12s ease);

      &:hover {
        color: rgba(255,255,255,0.8);
      }
    }

  }

  .cta {
    margin-top: 55px;
    color: rgba(255,255,255,0.8);
    font-size: 14px;

    a:hover {
      color: rgba(255,255,255,0.9);
    }
  }

}
