/*
 *= require reset
 *= require_self
 *= require_tree .
*/


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  background: #111;
  color: #fafafa;
  -webkit-font-smoothing: antialiased;
}

b {
  font-weight: bold;
}

button {
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }

}
