.contact-prompt {

  text-align: left;
  margin: 80px 0 50px;
  color: rgba(255,255,255,0.6);

  a {
    display: block;
    margin-top: 20px;
    font-size: 40px;
    text-decoration: none;
    color: rgba(255,255,255,0.8);

    &:hover {
      color: rgba(255,255,255,0.95);
    }
  }
}
