:root {
  --main-font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --monospace-font: "Source Code Pro", "Courier New", "Monaco", "Menlo", monospace;
  --combo-indicator-font: "Orbitron", sans-serif;
}
