@import "bourbon";
@import "_variables";

$combo-indicator-font: Orbitron, Arial, sans-serif;


body {
  @include transition(background 0.6s ease);
}

.container {
  margin: 0 auto;
  width: $main-width;
  padding-right: $sidebar-size + $sidebar-margin;
  @include clearfix;
}

.blue-button {
  font-size: 24px;
  padding: 10px 24px;
  border: 0;
  border-radius: 3px;
  background: #2C9BEA;
  display: inline-block;
  color: white;
  text-decoration: none;
  @include transition(opacity 0.25s ease);

  &:hover {
    background: #51B7FF;
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.15;
  }

}

.progress-bar {
  background: black;
  width: 100%;
  height: 5px;
  position: fixed;
  top: 0;
  z-index: 100;

  .progress {
    background: yellow;
    width: 0;
    height: 5px;
    @include transition(width 0.5s ease-in-out, background 0.3s ease-in-out);

    &.complete {
      width: 100%;
      background: #63F706;
    }
  }

}

.above-board {
  height: 90px;
  position: relative;
  width: $main-width;
  margin: 0 auto;
  padding-right: $sidebar-size + $sidebar-margin;

  .instructions {
    font-weight: bold;
    text-shadow: 0 0 8px rgba(0,0,0,0.9);
    width: $board-size;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    font-size: 25px;
    top: 40px;
    @include transition(all 0.35s ease-out);

    &.smaller {
      font-size: 22px;
      top: 24px;
    }

  }

  .puzzle-hint {
    font-size: 14px;
    color: rgba(255,255,255,0.5);
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 58px;
    width: 100%;
    padding-right: $sidebar-size + $sidebar-margin;
    @include transition(opacity 0.15s ease);
  }

  .move-status {
    opacity: 1;
    font-family: $combo-indicator-font;
    font-size: 32px;
    width: 100%;
    position: absolute;
    padding-right: $sidebar-size + $sidebar-margin;
    text-align: center;
    text-transform: uppercase;
    transform: scale3d(1,1,1);
    top: 0px;
    @include transition(opacity 0.02s ease);

    &.fade-out {
      @include transition(opacity 0.9s ease-out 0.2s, transform 0.05s ease-in-out);
      opacity: 0;
      transform: scale3d(0.92,0.92,1);
    }

    .perfect {
      color: #34FF00;
      font-weight: 600;
      letter-spacing: 3px;
      font-size: 40px;
    }

    .great {
      color: #2AE2EA;
      font-weight: 600;
      letter-spacing: 3px;
      font-size: 38px;
    }

    .good {
      color: #FFF260;
      font-weight: 600;
      letter-spacing: 3px;
      font-size: 38px;
    }

    .almost {
      color: #D361F9;
    }

    .fail {
      color: #D24190;
      position: relative;
      top: 15px;
    }

  }

  .combo-counter {
    text-align: center;
    font-family: $combo-indicator-font;
    position: absolute;
    top: 45px;
    width: 100%;
    padding-right: $sidebar-size + $sidebar-margin;
    @include transition(opacity 0.25s ease);

    .counter {
      display: inline-block;
      font-size: 24px;
      margin-right: 5px;

      &.large {
        font-size: 52px;
      }

      &.on-fire {
        font-size: 70px;
      }

      &.emphasis {
        @include transform(scale3d(1.25, 1.25, 1));
      }

    }

    .combo-text {
      position: relative;
      text-transform: uppercase;
      font-size: 14px;
      top: -2px;
    }

  }

}

.main {
  position: relative;
  width: $main-width;
  margin: 0 auto;
  @include clearfix;

  .level-selector {
    font-size: 24px;
    color: rgba(255,255,255,0.2);
    transform: scale3d(0.5,1,1);
    position: absolute;
    top: -5px;
    left: -26px;
    text-decoration: none;
    padding: 0 6px;
    @include transition(color 0.12s ease);

    &:hover {
      color: rgba(255,255,255,0.4);
    }

  }

  .chessboard {
    margin: 0 auto;
  }

}


// Board + piece promotion modal
//
.board-area {
  position: relative;
  float: left;
}


// The sidebar that contains the time of the current lap
// plus times from previous laps

.sidebar {
  float: left;
  font-size: 24px;
  line-height: 32px;
  width: $sidebar-size;
  margin-left: $sidebar-margin;

  .times {
    margin-top: -7px;
  }

  .timer {
    color: rgba(255,255,255,1);
  }

  .laps {
    color: rgba(255,255,255,0.5);

    div:nth-child(2) {
      color: rgba(255,255,255,0.4);
    }

    div:nth-child(3) {
      color: rgba(255,255,255,0.3);
    }

    div:nth-child(4) {
      color: rgba(255,255,255,0.2);
    }

    div:nth-child(5) {
      color: rgba(255,255,255,0.1);
    }

    div:nth-child(n + 5) {
      color: rgba(255,255,255,0.1);
    }

  }

}

.chessboard {
  width: $board-size;
  height: $board-size;
  margin: 12px;
  background: #ddd;
  border: $border-width solid #938172;

  .square {
    width: $square-size;
    height: $square-size;
    float: left;
    transition: background 0.1s ease-in-out;
    @include user-select(none);

    &.light {
      background: rgb(243, 228, 207);
    }

    &.dark {
      background: rgb(206, 179, 162);
    }

    &.selected {
      background: #eeffff;
    }

    .piece {
      width: 100%;
      height: 100%;
      position: relative;
      @include transition(opacity 0.3s ease, transform 0.12s ease-in-out);

      &.w:hover {
        cursor: pointer;
      }

    }

  }

  .piece-buffer {
    display: none;
  }

}

.piece-promotion-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;

  .prompt {
    color: rgba(0,0,0,0.9);
    font-size: 16px;
    padding: 18px 0;
    text-align: center;
  }

  .pieces {
    background: white;
    position: absolute;
    z-index: 3;
    width: 400px;
    height: 150px;
    left: 82px;
    top: 202px;
    text-align: center;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
    border-radius: 2px;

    .piece {
      width: 80px;
      height: 80px;
      display: inline-block;
      margin: 0 3px;

      img {
        width: 100%;
        height: 100%;
      }

    }

  }

  .background {
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
  }

}

.under-board {
  margin: 0 auto;
  padding: 25px 0;
  padding-right: $sidebar-size + $sidebar-margin;
  width: $main-width;
  text-align: center;
  position: relative;

  .level-name {
    display: block;
    color: rgba(255,255,255,0.4);
    font-size: 15px;
  }

  // Prompts you to go to the next level
  //
  .next-stage {
    width: 100%;
    height: 65px;
    z-index: 11;
    position: absolute;
    top: 0;
    @include transition(opacity 0.2s ease);

    &.invisible {
      opacity: 0;
      pointer-events: none;
    }

    .left {
      float: left;
      font-size: 22px;
    }

    .right {
      float: right;
      top: -4px;
    }

    .blue-button {
      font-size: 18px;
      padding: 7px 22px 7px;
      margin-top: -6px;
      box-shadow: 0 0 4px rgba(0,0,0,0.2);
    }

  }

}
