@import "bourbon";


body[data-controller="levels"][data-action="edit"],
body[data-controller="puzzles"][data-action="search"] {

.container {
  width: 930px;
  margin: 0 auto;
  padding-right: 0;
}

.level-info {
  @include clearfix;
  margin: 50px 0;
}

.level-name {
  font-weight: bold;
  font-size: 18px;
  float: left;

  a {
    color: inherit;
    text-decoration: none;
  }

}

.update-level-name {
  display: inline-block;

  input {
    color: rgba(255,255,255,0.9);
    font-size: 16px;
    border: 0;
    background: none;
    outline: none;
  }

}

.add-level {
  float: right;
}

.add-level-id {
  display: block;
  font-size: 15px;
  font-family: "Open Sans";
  border: 0;
  border-radius: 1px;
  margin: 0 auto;
  padding: 7px 17px;
}

.puzzle-id {
  color: rgba(255,255,255,0.7);
  font-size: 14px;
  margin: 5px 0;
  display: block;
  text-decoration: none;

  &:hover {
    color: rgba(255,255,255,0.9);
  }

}

.boards {
  @include clearfix;
  margin: 40px 0 100px;

  .board {
    float: left;
    margin-bottom: 15px;

    .puzzle-id {
      text-align: center;
    }

    &.selected {

      .mini-chessboard {
        border: 1px solid yellow;
      }

    }

  }

}

}
