@import "bourbon";


body[data-controller="levels"][data-action="edit"],
body[data-controller="puzzles"][data-action="search"] {

.container {
  width: 750px;
  margin: 0 auto;
}

.level-name {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin: 50px 0;
}

.add-level-id {
  display: block;
  font-size: 16px;
  font-family: "Open Sans";
  border: 0;
  border-radius: 1px;
  margin: 0 auto;
  padding: 8px 18px;
}

.search-results {
  color: rgba(255,255,255,0.7);
  text-align: center;
  font-size: 14px;
}

.puzzle-id {
  color: rgba(255,255,255,0.7);
  font-size: 14px;
  margin: 5px 0;
  display: block;
  text-decoration: none;

  &:hover {
    color: rgba(255,255,255,0.9);
  }

}

.boards {
  @include clearfix;
  margin: 40px 0 100px;

  .board {
    float: left;
    margin-bottom: 15px;

    .puzzle-id {
      text-align: center;
    }

    &.selected {

      .mini-chessboard {
        border: 1px solid yellow;
      }

    }

  }

}

}
