@import "_variables";


.positions-index {
  padding-right: 0;
  margin: 50px auto 100px;

  h2 {
    margin-bottom: 5px;
  }

  .description {
    color: #B5B5B5;

    a {
      color: inherit;

      &:hover {
        color: white;
      }
    }
  }

  .positions {
    overflow: hidden;
    margin-bottom: 40px;
  }

  .position-board {
    float: left;
    text-align: center;
    margin-bottom: 20px;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

    }
  }

  .mini-chessboard {
    margin: 15px;
  }

  .new-position {
    margin: 50px 0;

    .fen-input {
      font-size: 16px;
      padding: 6px 14px;
      border: 0;
      border-radius: 2px;
      width: 420px;
    }

    .play-to {
      margin-left: 20px;
    }

    .position-goal {
      font-size: 14px;
    }

    .submit {
      margin-top: 12px;
    }

    .button {
      font-size: 15px;
      padding: 6px 18px 7px;
      border: 0;
      border-radius: 3px;
      background: #2C9BEA;
      color: white;
      display: inline-block;
      font-family: $main-font;
      text-decoration: none;
      transition: opacity 0.25s ease;

      &:hover {
        background: #51B7FF;
        cursor: pointer;
      }
    }

    .error-message {
      color: #F954AE;
      margin-left: 15px;
      transition: opacity 0.25s ease;
    }
  }

}
