.puzzle-sets {
  width: 400px;
  margin: 40px auto 80px;

  h3 {
    font-size: 24px;
    margin-bottom: 60px;
  }

  a {
    color: rgba(255,255,255,0.9);
    font-weight: 600;
    display: block;
    padding: 5px 0;
    text-decoration: none;

    &:hover {
      color: rgba(255,255,255,1);
    }

  }

}
