.puzzle-sets {
  width: 400px;
  margin: 40px auto;

  h3 {
    font-size: 24px;
    margin-bottom: 24px;
  }

  a {
    color: rgba(255,255,255,0.7);
    display: block;
    padding: 3px 0;
    text-decoration: none;

    &:hover {
      color: rgba(255,255,255,0.95);
    }

  }

}
