[data-controller="puzzles"][data-action="search"] {

  .search-params {
    margin: 30px 0;

    .params {
      margin-top: 10px;
      font-size: 14px;
      color: rgba(255,255,255,0.7);
    }
  }

  .search-results {
    color: rgba(255,255,255,0.7);
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
  }

  .search-paginator {
    text-align: center;
    margin: 40px 0;

    a {
      border-radius: 99px;
      background: #777;
      width: 30px;
      height: 30px;
      display: inline-block;
      color: inherit;
      padding-top: 7px;

      &[rel="previous"] {
        padding-right: 1px;
      }

      &[rel="next"] {
        padding-left: 1px;
      }
    }

    .current-page {
      display: inline-block;
      margin: 0 10px;
    }
  }
}
