.quest-bg
  position: absolute
  top: 0
  left: 0
  max-width: 100%
  min-height: 400px
  z-index: 1

.quest-bg-2
  width: 100%
  background-image: url('/assets/photo-1445711005973-54fe2a103826.jpg')
  background-size: cover
  background-position: center center
  // background-attachment: fixed;
  // background-repeat: no-repeat;
  min-height: 100vh

  position: absolute
  top: 0
  left: 0
  max-width: 100%
  min-height: 850px
  z-index: 1


.quest-above-bg
  background: rgba(0,0,0,0.5)
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 2

// top of homepage
.quest-section
  padding: 3rem 0
  min-height: 300px
  overflow: hidden
  background: black

  .quest-container
    display: flex
    position: relative
    z-index: 2

  // World 1 - just getting started
  aside.world-sidebar
    min-width: 150px
    margin-right: 3rem

    .world-name
      opacity: 0.9
      margin-bottom: 0.5rem

    .world-subtitle
      opacity: 0.8

  // board preview + info on level task
  .quest-level
    display: flex
    margin-bottom: 1rem   

    .board-link
      display: block

    .level-info
      margin-left: 1rem

    .level-name
      margin-bottom: 0.5rem

    .level-task
      line-height: 1.25rem
      opacity: 0.8

    .level-best-score
      margin-top: 2rem

  .quest-next
    margin: 3rem 0 1rem

  .world-status
    margin-top: 8rem

  .quest-container-bottom
    margin-top: 4rem
    text-align: center
    position: relative
    z-index: 2

.game-modes-section
  position: relative
  z-index: 2
  background: #212121
  padding-top: 1rem
