@import "bourbon";

$header-height: 40px;


.real-main-header {
  height: $header-height;
  background: #121212;
  width: 100%;
  @include clearfix;
  @include transition(transform 0.2s ease, background 0.2s ease);

  &.hidden {
    transform: translate3d(0,-$header-height,0);
  }

  &.faded {
    background: none;

    .logo {
      display: none;
    }

  }

  &:hover {
    transform: translate3d(0,0,0);
  }

  .logo {
    color: #6D6D6D;
    float: left;
    font-size: 12px;
    font-weight: bold;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    line-height: $header-height + 2px;
    letter-spacing: 0.8px;

    &:hover {
      color: #ffe800;
    }

    i {
      font-size: 15px;
      margin-right: 5px;
    }

    .large {
      font-size: 16px;
    }

  }

  a {
    color: #6D6D6D;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.3px;
    @include transition(color 0.15s ease);

    &:hover {
      color: #e0e0e0;
    }

  }

  .link-left {
    float: left;
    margin-left: 30px;
    line-height: $header-height;
  }

  .link-right {
    float: right;
    margin-right: 3px;
    margin-left: 30px;
    line-height: $header-height;
  }

  .sign-in {
    font-weight: bold;
    color: rgba(255,255,255,0.75);
  }

  .user-name {
    font-weight: bold;
  }

}
