@import "_variables";


@media screen and (min-width: 640px) and (max-height: 835px) {
  $square-size-sm: 65px;
  $board-size-sm: 8 * $square-size-sm + 2 * $border-width;
  $main-width-sm: $board-size-sm + $sidebar-size + $sidebar-margin;

  .responsive {

    .container {
      width: $main-width-sm;
    }

    .main {
      width: $main-width-sm;
    }

    .under-board {
      width: $main-width-sm;
    }

    .chessboard {
      width: $board-size-sm;
      height: $board-size-sm;

      .square {
        width: $square-size-sm;
        height: $square-size-sm;
      }

    }

  }

}


@media screen and (max-width: 500px) {

  .responsive {

    .container {
      width: 100%;
      padding-right: 0;
    }

    .main-header {
      padding: 0 20px;
    }

    .main {
      width: 100%;
    }

    .above-board {
      width: 100%;
      padding-right: 0;

      .instructions {
        width: 100%;
      }

      .puzzle-hint, .move-status, .combo-counter {
        padding-right: 0;
      }

    }

    .piece-promotion-modal .pieces {
      top: 160px;
      left: 50px;
    }

    .under-board {
      width: 100%;
      padding-right: 0;

      .onboarding {
        padding-right: 0;
      }

    }

    .main-header {
      width: 500px;
    }

    .chessboard {
      width: 500px;
      height: 500px;

      .square {
        width: 12.5%;
        height: 12.5%;
      }

    }

    .sidebar {
      display: none;
    }

  }

}
