@media (max-aspect-ratio: 11/16)
  .container
    width: 100vw
    padding: 0

  .below-board, .under-board
    width: 100vw !important

  .board-area
    width: 100vw !important
    height: 100vw !important

  .chessground-board
    width: 100% !important
    height: 100% !important

@media (max-width: 500px)
  .below-board, .under-board
    padding: 20px 0
