@import "bourbon";
@import "_variables";


@media screen and (max-height: 835px) {
  $square-size-sm: 65px;
  $board-size-sm: 8 * $square-size-sm + 2 * $border-width;
  $main-width-sm: $board-size-sm + $sidebar-size + $sidebar-margin;

  .container {
    width: $main-width-sm;
  }

  .main-header .container {
    width: $main-width-sm;
  }

  .main-header .intro .explanation {
    font-size: 12px;
  }

  .move-indicator {
    width: $main-width-sm;
  }

  .main {
    width: $main-width-sm;

    .instructions {
      width: $board-size-sm;
    }

  }

  .under-board {
    width: $main-width-sm;

    .puzzle-hint {
      width: $board-size-sm;
    }

  }

  .chessboard {
    width: $board-size-sm;
    height: $board-size-sm;

    .square {
      width: $square-size-sm;
      height: $square-size-sm;
    }

  }

}
