@import "bourbon";

.scoreboard {
  width: 245px;
  margin: 0 auto;

  h2 {
    text-align: center;
    margin: 50px 0;
    font-size: 22px;
    font-family: Orbitron, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.6;
  }

  .scores {
    margin-bottom: 80px;
  }

  .user {
    font-size: 19px;
    padding: 7px 0;
    @include clearfix;

    .username {
      float: left;
      width: 200px;
    }

    .max-level {
      float: left;
      margin-left: 20px;
      width: 25px;
    }
  }

}
