@import "bourbon";


.invisible {
  opacity: 0;
}

.main {
  position: relative;
  width: 564px;
  margin: 50px auto;

  .chessboard {
    margin: 0 auto;
  }

  .overlay {
    width: 564px;
    height: 564px;
    background: rgba(255,255,255,0.7);
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -282px;
  }

  .intro {
    margin: 185px auto;
    width: 460px;

    .title {
      font-weight: bold;
      font-size: 28px;
      margin-bottom: 20px;
    }

    .explanation {
      font-size: 20px;
      line-height: 32px;
      margin: 30px 0;
    }

  }

}

.chessboard {
  $square-size: 70px;
  $border-width: 2px;

  width: 8 * $square-size + 2 * $border-width;
  height: 8 * $square-size + 2 * $border-width;
  margin: 12px;
  background: #ddd;
  border: $border-width solid #938172;

  .square {
    width: $square-size;
    height: $square-size;
    float: left;
    transition: background 0.1s ease-in-out;
    @include user-select(none);

    &.light {
      background: rgb(243, 228, 207);
    }

    &.dark {
      background: rgb(206, 179, 162);
    }

    .piece {
      width: 100%;
      height: 100%;
      position: relative;
      transition: transform 0.12s ease-in-out;
    }

  }

  .piece-buffer {
    display: none;
  }

}

.start {
  font-size: 24px;
  padding: 10px 24px;
  border-radius: 3px;
  background: #327CCB;
  color: white;

  &:hover {
    opacity: 0.9;
  }

  &.disabled {
    opacity: 0.2;
  }

}

.status {
  margin: 50px 0;

  .puzzle-counter {
    font-size: 32px;
  }

  .timer {
    float: right;
    font-size: 24px;
    margin-top: -30px;
  }

  .laps {
    float: right;
    line-height: 28px;
    color: rgba(0,0,0,0.5);
  }

}

.solution {
  margin-top: 26px;
  font-size: 14px;
  color: rgba(0,0,0,0.5);
}
