@import "bourbon";


$border-width: 2px;
$square-size: 75px;
$board-size: 8 * $square-size + 2 * $border-width;

$sidebar-size: 75px;
$sidebar-margin: 40px;

$main-width: $board-size + $sidebar-size + $sidebar-margin;



.invisible {
  opacity: 0;
}

.blue-button {
  font-size: 24px;
  padding: 10px 24px;
  border-radius: 3px;
  background: #2C9BEA;
  display: inline-block;
  color: white;
  text-decoration: none;
  @include transition(opacity 0.25s ease);

  &:hover {
    background: #51B7FF;
  }

  &.disabled {
    opacity: 0.15;
  }

}

.main-header {
  height: 75px;
  @include clearfix;

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .blue-button {
    padding: 8px 26px 9px;
    margin-top: 12px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
  }

  .container {
    margin: 0 auto;
    width: $main-width;
    overflow: hidden;
    padding-right: $sidebar-size + $sidebar-margin;
  }

  &[data-state="intro"] {

    .intro {
      display: block;
    }

    .progress-bar, .next-stage {
      display: none;
    }

  }

  &[data-state="progress"] {

    .progress-bar {
      display: block;
    }

    .intro, .next-stage {
      display: none;
    }

  }

  &[data-state="next-stage"] {

    .next-stage {
      display: block;
    }

    .intro, .progress-bar {
      display: none;
    }

  }


  // Intro message that shows up on initial pageload
  //
  .intro {
    width: 100%;
    height: 75px;
    background: #393939;
    padding: 5px 0;

    .title {
      font-size: 20px;
      font-weight: 600;
      line-height: 38px;
    }

    .explanation {
      font-size: 15px;
      opacity: 0.7;
    }

    .instructions {
      font-size: 20px;
      font-weight: bold;
      line-height: 66px;
      text-shadow: 0 0 5px rgba(0,0,0,0.7);
    }

  }


  // Progress bar that fills up as you get closer to the next level
  //
  .progress-bar {
    width: 100%;
    height: 5px;

    .progress {
      background: yellow;
      width: 0;
      height: 5px;
      @include transition(width 0.5s ease-in-out);
    }

  }


  // Prompts you to go to the next level
  //
  .next-stage {
    width: 100%;
    height: 75px;
    background: #393939;
    padding: 5px 0;

    .left {
      font-size: 22px;
      line-height: 64px;
    }

  }

}

.main {
  position: relative;
  width: $main-width;
  margin: 45px auto 30px;
  @include clearfix;

  .level {
    display: block;
    color: #979797;
    font-size: 16px;
    margin-bottom: 16px;
  }

  .chessboard {
    margin: 0 auto;
  }

  .overlay {
    width: $board-size;
    height: $board-size;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: - ($board-size / 2);
  }

  .intro {
    background: white;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    color: #333;
    margin: 152px auto;
    padding: 30px 35px;
    width: 460px;

    .title {
      font-weight: bold;
      font-size: 28px;
      margin-bottom: 20px;
    }

    .explanation {
      font-size: 20px;
      line-height: 32px;
      margin: 30px 0;
    }

  }

}

.board-area {
  position: relative;
  float: left;
}


// The sidebar that contains the time of the current lap
// plus times from previous laps

.sidebar {
  float: left;
  font-size: 24px;
  line-height: 32px;
  width: $sidebar-size;
  height: $board-size;
  margin-left: $sidebar-margin;

  .times {
    margin-top: -7px;
  }

  .timer {
    color: rgba(255,255,255,1);
  }

  .laps {
    color: rgba(255,255,255,0.5);
  }

}

.chessboard {
  width: $board-size;
  height: $board-size;
  margin: 12px;
  background: #ddd;
  border: $border-width solid #938172;
  @include transition(all 0.6s ease);

  &.invisible {
    opacity: 0;
    transform: scale3d(0.96, 0.96, 1);
  }

  .square {
    width: $square-size;
    height: $square-size;
    float: left;
    transition: background 0.1s ease-in-out;
    @include user-select(none);

    &.light {
      background: rgb(243, 228, 207);
    }

    &.dark {
      background: rgb(206, 179, 162);
    }

    .piece {
      width: 100%;
      height: 100%;
      position: relative;
      @include transition(opacity 0.3s ease, transform 0.12s ease-in-out);
    }

  }

  .piece-buffer {
    display: none;
  }

}

.piece-promotion-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;

  .pieces {
    background: white;
    position: absolute;
    z-index: 3;
    width: 400px;
    height: 120px;
    left: 82px;
    top: 202px;
    text-align: center;
    padding-top: 18px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border-radius: 1px;

    .piece {
      width: 80px;
      height: 80px;
      display: inline-block;
      margin: 0 3px;

      img {
        width: 100%;
        height: 100%;
      }

    }

  }

  .background {
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
  }

}

.status {
  margin: 0 auto;
  width: $main-width;
  padding-right: $sidebar-size + $sidebar-margin;

  .move-status {
    opacity: 1;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    @include transition(opacity 0.1s ease);

    &.fade-out {
      @include transition(opacity 1s ease-out 0.2s);
      opacity: 0;
    }

    .success {
      color: #34FF00;
      font-weight: 600;
    }

    .marvelous {
      color: #FFF260;
      font-weight: 600;
    }

    .fail {
      color: red;
    }

  }

  .combo-meter {
    @include transition(opacity 0.075s ease);
    text-align: center;

    .counter {
      font-size: 32px;
      margin-right: 5px;
    }

    .combo-text {
      position: relative;
      top: -4px;
    }

  }

}

.solution {
  font-size: 14px;
  color: rgba(255,255,255,0.5);
}
