@import "_variables";


.user-profile {
  margin: 50px 0 80px;

  .username {
    text-align: center;
    font-size: 36px;
    font-family: $main-font;
    margin-bottom: 18px;
  }

  .highest-level {
    text-align: center;
    color: rgba(255,255,255,0.7);

  }

  .max-level {
    color: #ffe800;
  }

  .level-list {
    width: 150px;
    margin: 50px auto 0;

    .level-row {
      width: 150px;
    }

    .level {
      width: 100px;
    }

    .round-attempt {
      width: 50px;
    }
  }
}
