// home#infinity

.infinity-mode {
  $board-size: 500px;

  margin-top: 20px;

  .above-board {
    width: $board-size;
    margin: 0;
  }

  .board-container {
    display: flex;
    margin-top: 20px;
  }

  .chessboard {
    width: $board-size;
    height: $board-size;
    margin: 0 auto;
  }

  .under-board {
    text-align: left;
    opacity: 0.6;
  }

  .infinity-sidebar {
    margin-left: 30px;
  }

  .sidebar-label {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .difficulties {
    [data-difficulty] {
      opacity: 0.3;
      padding: 5px 0;
      user-select: none;
      transition: all 0.2s ease;

      &:hover {
        cursor: pointer;
      }
    }

    .selected {
      opacity: 1;

      &.easy {
        color: #00ccff;
      }

      &.medium {
        color: #dfff00;
      }

      &.hard {
        color: #ffcc00;
      }

      &.insane {
        color: #ff3f00;
      }
    }
  }

  .stats {
    margin-top: 40px;
  }

  .n-puzzles {
    opacity: 0.7;
  }
}
