<div class="piece-promotion-modal-container" style="display: none;">
  <div class="piece-promotion-modal">
    <div class="prompt">
      Choose your destiny
    </div>

    <div class="pieces">
      <a class="piece" href="javascript:" data-piece="q">
        <svg class="piece" viewBox="0 0 45 45">
          <use xlink:href="#wq" width="100%" height="100%"/>
        </svg>
      </a>

      <a class="piece" href="javascript:" data-piece="r">
        <svg class="piece" viewBox="0 0 45 45">
          <use xlink:href="#wr" width="100%" height="100%"/>
        </svg>
      </a>

      <a class="piece" href="javascript:" data-piece="n">
        <svg class="piece" viewBox="0 0 45 45">
          <use xlink:href="#wn" width="100%" height="100%"/>
        </svg>
      </a>

      <a class="piece" href="javascript:" data-piece="b">
        <svg class="piece" viewBox="0 0 45 45">
          <use xlink:href="#wb" width="100%" height="100%"/>
        </svg>
      </a>
    </div>
  </div>

  <div class="background"></div>
</div>
