<div class="piece-promotion-modal-container" style="display: none;">
  <div class="piece-promotion-modal">
    <div class="prompt">
      Choose your destiny
    </div>

    <div class="pieces">
      <% %w( q r n b ).each do |piece| %>
        <a class="piece" href="javascript:" data-piece="<%= piece %>">
          <svg viewBox="0 0 45 45">
            <use xlink:href="#w<%= piece %>" width="100%" height="100%"/>
          </svg>
        </a>
      <% end %>
    </div>
  </div>

  <div class="background"></div>
</div>
