<header class="main-header">

  <div class="container">

    <a href="/" class="logo">
      <%= fa_icon "bolt" %>
      <span class="large">B</span>litz <span class="large">T</span>actics
    </a>

    <% if current_user %>
      <a href="/levels" class="link-right user-name">
        <%= current_user.username %>
      </a>
    <% else %>
      <a href="<%= new_user_registration_path %>" class="link-right sign-in">
        <%= fa_icon "sign-in" %> Sign up
      </a>
    <% end %>

    <a href="/about" class="link-right about">About</a>

  </div>

</header>
