<% fen = puzzle.data["puzzle"]["fen"] %>
<% initial_move = puzzle.data["puzzle"]["initialMove"] %>

<div class="board">
  <%= render :partial => "levels/mini_board",
             :locals => {
               :puzzle_id => puzzle.id,
               :options => { :fen => fen, :initialMove => initial_move }.to_json
             } %>
  <a class="puzzle-id" href="/puzzles/<%= puzzle.id %>"><%= puzzle.id %></a>
</div>
