<div class="search-paginator">
  <%= link_to_previous_page @puzzles, fa_icon("chevron-left"), :params => params %>

  <div class="current-page">
    Page <%= params[:page] || 1 %>
  </div>

  <%= link_to_next_page @puzzles, fa_icon("chevron-right"), :params => params %>
</div>
