<% content_for(:title) { "Puzzle search" } %>

<div class="container">

  <div class="search-params">
    <h3>Puzzle search params:</h3>

    <div class="params">
      pieces, max_rating, min_attempts, min_votes
    </div>
  </div>

  <div class="search-results"><%= @n_puzzles %> puzzles found</div>

  <%= render :partial => "puzzles/search_paginator" %>

  <div class="boards">
    <%= render :partial    => "puzzles/mini_view",
               :collection => @puzzles,
               :as         => :puzzle %>
  </div>

  <%= render :partial => "puzzles/search_paginator" %>

</div>
