<div class="container">

  <div class="level-name">
    Puzzle search
  </div>

  <div class="search-results"><%= @n_puzzles %> puzzles found</div>

  <div class="boards">
    <%= render :partial    => "puzzles/mini_view",
               :collection => @puzzles,
               :as         => :puzzle %>
  </div>

</div>
